<div class="container-fluid" id="wines">
  <h1>My Wine List</h1>

  <div class="container-fluid">

   
   
    <div class="row" id="#holdstuff">
      <% if(wines.length > 0){ %>
        <% wines.forEach(function(wine){ %>
          <div class="card-deck">
           <div class="card" id="winecard">
            <img class="card-img-top" src="<%= wine.ImgLink %>" alt="<%= wine.Name %>">
           
            <div class="card-block">
              <a href="/wines/<%= wine.Id %>">
                <h5 class="card-title">
                  <%= wine.Name %></h5></a>
                  <div>
              <p class="card-text">Producer: <%= wine.Vineyard %></p>
              <p class="card-text">Vintage: <%= wine.Vintage %></p> 
            </div>
              </div>

              <form method="POST" action="/list" id="card-delete">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="listItemId" value="<%= wine.listItemId %>" />
                <button class="card-delete-btn">Delete</button>
              </form>
            </div>
 
          </div>
          <% }); %>
            <% } else{ %>
              <p style="text-align: center">Your list is empty</p>
              <% } %>


    </div>
  </div>
  <a href="#" onclick="history.back();">Back</a>
</div>





<div></div>
