<div class="container-fluid" id="wines">
  <h1>My Wine List</h1>

  <div class="container-fluid">

    <div class="row" id="#holdstuff">

      <% wines.forEach(function(wine){ %>
        
        <div class="card-deck">

          <div class="card" id="winecard">

            <img class="card-img-top" src="<%= wine.ImgLink %>" alt="<%= wine.Name %>">
           
            <div class="card-block">
              <a href="/wines/<%= wine.Id %>">
                <h5 class="card-title">
                  <%= wine.Name %>
                </h5>
              </a>
              <p class="card-text">
                <%= wine.Vineyard %>
              </p>
              <p class="card-text">
                <%= wine.Vintage %>
              </p>
            </div>
            </div>
         
          </div>

          <form method="POST" action="/list">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="listItemId" value="<%= wine.listItemId %>" />
            <button class="btn btn-danger">Delete</button>
          </form>
          <% }) %>
    
    
    </div>
  </div>

 </div>
