<div class="container-fluid" id="wines">
  <h1>My Wine List</h1>

  <div class="container-fluid">

    <div class="row" id="#holdstuff">
      <% if(wines.length > 0){ %>
        <% wines.forEach(function(wine){ %>
          <div class="card-deck">
           <div class="card" id="winecard">
            <img class="card-img-top" src="<%= wine.ImgLink %>" alt="<%= wine.Name %>">
           
            <div class="card-block">
              <a href="/wines/<%= wine.Id %>">
                <h5 class="card-title">
                  <%= wine.Name %>
                </h5>
              </a>
              <p class="card-text">
                <%= wine.Vineyard %>
              </p>
              <p class="card-text">
                <%= wine.Vintage %>
              </p>




                <form method="POST" action="/list">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="hidden" name="listItemId" value="<%= wine.listItemId %>" />
                  <button>Delete</button>
                </form>
              </div>

            </div>

          </div>


          <% }); %>
            <% } else{ %>
              <p>Your list is empty</p>
              <% } %>


    </div>
  </div>
  <a href="#" onclick="history.back();">Back</a>
</div>