<h1>List Item</h1>
<div id="showWine">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div><img src="<%= wine.Photo %>" style="width:auto" alt="<%= wine.Name %>" /></div>
                    <h2 class="card-title">
                        <%= wine.Name %>
                    </h2>
                    <h4 class="card-text">
                        <%= wine.Vinyard %>
                    </h4>
                    <p>
                        <%= wine.Vintage %>
                    </p>
                    <p>
                        <%= wine.Vineyard %>
                    </p>
                    <p>
                        <%= wine.Vintage %>
                    </p>
                    <p>
                        <%= wine.TypeOrColor %>
                    </p>
                    <p>
                        <%= wine.Country %>
                    </p>

                    <h4>Comments</h4>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>