<h1>YourWineList</h1>


 
 <div class="row">
  <% wines.forEach((wine) => { %>
    <div class="col-md-4">
      <div class="card">
 
        <div class="card-block">
          <a href="/wines/<%= wine.id %>">
            <h4 class="card-title"><%= wine.product %></h4>
          </a>
          <p class="card-text"><%= wine.winery %></p>

          <a href="/wines/<%= wine.id %>/edit" class="btn btn-primary">Edit</a>
          <form method="POST" action="/wines/<%= wine.id %>">
            <input type="hidden" name="_method" value="DELETE">
           <button class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  <% }) %>
 </div> 


  <button class="btn btn-primary">Add</button>
</form> 