
<p>showejs vines</p>
<h1>Show</h1>
 <!-- <h2><%= wine.product %></h2>
<h4><%= wine.winery %></h4>
<p><%= wine.description %></p>
<a class="btn btn-primary" href="/wines">Back</a>
<% if (locals.isLoggedIn) { %>
<a class="btn btn-info" href="/wines/<%= wine._id %>/edit">Edit Wine</a>
<form class="" action="/wines/<%= wine._id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger">Delete Wine</button>
  <% } %>
</form>  -->
 <% if (locals.isLoggedIn) { %>
<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <!-- <a href="/wines/<%= wine.id %>"> -->
            <h4 class="card-title"><%= wine.product %></h4>
          </a>
          <p class="card-text"><%= wine.winery %></p>   
          <p><%= wine.description %></p>
        </div>
        <a href="/wines/<%= wine.id %>/edit" class="btn btn-primary">Edit</a>
      </div>
    </div>
    <% } else { %>
      div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <a href="/wines/<%= wine.id %>">
            <h4 class="card-title"><%= wine.product %></h4>
          </a>
          <p class="card-text"><%= wine.winery %></p>   
          <p><%= wine.description %></p>
        </div>
      </div>
    </div>
 <% } %>
          
      
   