

<h1>Show</h1>
<h2><%= wine.product %></h2>
<h4><%= wine.winery %></h4>
<p><%= wine.description %></p>
<a class="btn btn-primary" href="/wines">Back</a>
<a class="btn btn-info" href="/wines/<%= wine._id %>/edit">Edit Wine</a>

<form class="" action="/wines/<%= wine._id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-danger">Delete Wine</button>
</form>


<!-- <h4>Comments</h4>

<form action="/films/<%= film._id %>" method="post">
  <input type="text" name="body">
  <input type="submit" value="Post Comment">
</form> -->

<!-- <ul>
  <% film.comments.forEach(comment => { %>
    <li>
      <h5><a href="/users/<%= comment.user._id %>"><%= comment.user.username %></a></h5>
      <p><%= comment.body %></p>

      <% if (comment.user.id === locals.user.id || film.createdBy.id === locals.user.id ) { %>
        <form action="/films/<%= film._id %>/comments/<%= comment._id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="btn btn-danger" type="submit" value="Delete Comment">
        </form>
      <% } %>
    </li>
  <% }) %>
</ul> -->
