<div id="showWine">
    <div class="container wine-cont">
        <div class="row wine-row">
            <div class="col-12 col-md-6 card wine-card">
                <div class="wine-card-block">
                    <div><img src="<%= wine.Photo %>" style="width:auto" alt="<%= wine.Name %>" /></div>
                    <h2 class="card-title">
                        <%= wine.Name %>
                    </h2>
                    <p class="wine-card-text">Producer: <%= wine.Vineyard %></p>
                    <p>Vintage:<span> <%= wine.Vintage %></p>
                    <p>Type / Color: <span> <%= wine.TypeOrColor %> </p>
                    <p>Grape:<span> <%= wine.Grape %></p>
                    <p>Country:<span> <%= wine.Country %></p>
                    <p>Tasting Notes: <span> <%= wine.WinemakerNotes %></p>
            </div>
            <div class="comments-block" col-6 col-md-4>
                    <h3>Comments</h3>
                    <% comments.forEach(function(comment){ %>
                        <% if(comment._id == editcomment) { %>
                            <form method="POST" action="/comments/">
                                <input type="text" name="comment" value="<%= comment.comment %>" />
                                <input type="hidden" name="_method" value="PUT">
                                <input  type="hidden" name="commentId" value="<%= comment._id %>" />
                                <input type="hidden" name="wineId" value="<%= wine.Id %>" />
                                <button class="btn btn-danger">Edit</button>
                        </form>
                        <% } else { %>
                        <div class="row">
                            <div>
                                <%= comment.username %>
                            </div>

                            <div class="comment-box">
                                <%= comment.comment %>
                            </div>
                            <div>
                            </div>

                        </div>
                        <%} %>
                        <div>
                        <a href="/wines/<%= wine.Id %>?editcomment=<%= comment._id %>">Edit</a>
                            <form method="POST" action="/comments/">
                                <input type="hidden" name="_method" value="DELETE">
                                <input  type="hidden" name="commentId" value="<%= comment._id %>" />
                                <input  type="hidden" name="wineId" value="<%= wine.Id %>" />
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% }) %>

                            <form action="/comments/" method="post">
                                <input type="text" name="comment" />

                                <input type="hidden" name="wineId" value="<%= wine.Id %>" />
                                <button>Add Comment</button>
                            </form>

                        </div>
                </div>
            
        </div>
    </div>