
<%= wine %>

<p>showejs vines</p>
<h1>Wines Show</h1>
 <% if (locals.isLoggedIn) { %>
<div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
         
        
            <h4 class="card-title"><%= wine.product %></h4>
          <
          <p class="card-text"><%= wine.winery %></p>   
          <p><%= wine.description %></p>
        </div>
        
        <form class="" action="/wines/<%= wine._id %>" method="post">
        <a href="/wines/<%= wine.id %>/edit" class="btn btn-primary">Edit</a>
         <input type="hidden" name="_method" value="delete">
         <button class="btn btn-danger">Delete</button>   
         </form>
         <h4>Comments</h4>

        <form action="/wines/<%= wine._id %>" method="post">
          <input type="text" name="body">
          <input type="submit" value="Post Comment">
        </form>

        <ul>
          <% wine.comments.forEach(comment => { %>
            <li>
              <h5><a href="/users/<%= comment.user._id %>"><%= comment.user.username %></a></h5>
              <p><%= comment.body %></p>

              <% if (comment.user.id === locals.user.id || wine.createdBy.id === locals.user.id ) { %>
                <form action="/wines/<%= wine._id %>/comments/<%= comment._id %>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <input class="btn btn-danger" type="submit" value="Delete Comment">
                </form>
              <% } %>
            </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <% } else { %>
      <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <a href="/wines/<%= wine.id %>">
            <h4 class="card-title"><%= wine.product %></h4>
          </a>
          <p class="card-text"><%= wine.winery %></p>   
          <p><%= wine.description %></p>
        </div>
      </div>
    </div>
 <% } %>
          
      
   