<div class="container wine-cont">
    <section class="col-lg-8 col-sm-12 wine-details-holder">
     <h2 class="card-title wine-show-h2">
            <%= wine.Name %>
        </h2>
        <div>
            <img class="img-fluid" src="<%= wine.Photo %>" style="width:auto" alt="<%= wine.Name %>" />
        </div>
       
        <h4>Producer:
            <%= wine.Vineyard %>
        </h4>
        <h4>Vintage:
            <span>
                <%= wine.Vintage %>
        </h4>
        <h4>Type / Color:
            <span>
                <%= wine.TypeOrColor %>
        </h4>
        <h4>Grape:
            <span>
                <%= wine.Grape %>
        </h4>
        <h4>Country:
            <span>
                <%= wine.Country %>
        </h4>
        <h4>Tasting Notes:
            <span>
                <%= wine.WinemakerNotes %>
        </h4>
    </section>

    <aside class="col-lg-4 col-sm-12 details-and-comments">

        <div class="comments-block">
            <h3>Comments</h3>
            <% comments.forEach(function(comment){ %>
                <% if(comment._id == editcomment) { %>
                    <form method="POST" action="/comments/">
                        <input type="text" name="comment" value="<%= comment.comment %>" />
                        <input type="hidden" name="_method" value="PUT">
                        <input type="hidden" name="commentId" value="<%= comment._id %>" />
                        <input type="hidden" name="wineId" value="<%= wine.Id %>" />
                        <button>Save</button>
                    </form>
                    <% } else { %>
                        <div class="comment-username">
                            <%= comment.username %>
                        </div>
                        <div class="comment-text">
                            <%= comment.comment %>
                        </div>
                        <%} %>
                    <div class="comments-form-wrapper">
                    <div class="edit-btn-wrapper">
                        <button class="btn-with-link">
                        <a href="/wines/<%= wine.Id %>?editcomment=<%= comment._id %>">Edit</a>
                        </button>
                    </div>
                    <div class="comment-form-wrapper">
                    <form class="comment-form" method="POST" action="/comments/">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="commentId" value="<%= comment._id %>" />
                        <input type="hidden" name="wineId" value="<%= wine.Id %>" />
                        <button class="comment-delete">Delete</button>
                    </form>
                   </div>                   
                    </div>  
             <% }) %>
            <form action="/comments/" method="post">
                <input type="text" name="comment" />

                <input type="hidden" name="wineId" value="<%= wine.Id %>" />
                <button>Add Comment</button>
            </form>
            <div>
    </aside>
    </div>